.close-container {
  position: absolute;
  top: 2;
  left: 2;
  background-color: rgb(223, 182, 35);
  border-radius: 4px;
  border: 2px solid white;
.close-btn {
  padding: 10px;
  font-size: 30px;
  color: black;
}
}