.hamburger-container {
    display: block;
  }
.container-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid rgb(139, 139, 139);
  height: 100px;
  background-color: rgb(31, 22, 71);
  background-image: url('./dan-cristian-padure-h3kuhYUCE9A-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .navbar-title {
    font-family: 'Press Start 2P', cursive;
    padding: 30px;
    font-size: 30px;
    color: rgb(222, 191, 88);
  }

  .open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
  }
}
@media only screen and (min-width:768px) {

  .hamburger-container {
    display: none;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    list-style: none;
    padding: 10px;

    .navbar-link {
      text-decoration: none;
      background-color: rgb(223, 182, 35);
      font-size: 20px;
      padding: 5px;
      border-radius: 5px;
      color: black;
    }
  }
}
